* {
    cursor: none;
}
body {
    margin: 0;

    background-color: black;
    color: white;

    font-family: Arial;
}

.time {
    font-size: 6em;
    margin: 10px;
}

p {
    margin: 0;
}

.weather {
    position: absolute;
    top: 57%;
    left: 10px;
    transform: translate(0, -50%);

    text-align: left;
}

.weather > #weather-grid {
    display: flex;
    align-items: center;

    margin-bottom: 10px;
}

.weather > #weather-grid > #temp {
    font-size: 6.5em;
}

.weather > #weather-grid > #symbol {
    filter: brightness(100000%);
    margin: 0 20px;
}

.weather > #wind {
    font-size: 1.5em;
}

.weather > #later {
    margin: 10px 0;
    font-size: 1.2em;
}

.sonos {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.sonos > p {
    vertical-align: middle;
}

.sonos > p > #sonos-track {
    font-size: 1.1em;
    vertical-align: middle;
}

.sonos > p > #sonos-icon {
    vertical-align: middle;
    margin-right: 15px;
}