* {
    cursor: none;
}
body {
    margin: 0;

    background-color: black;
    color: white;

    font-family: Arial;
}

p {
    margin: 0;
}

.weather {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);

    text-align: left;
}

.weather > #weather-grid {
    display: flex;
    align-items: center;

    margin-bottom: 10px;
}

.weather > #weather-grid > #temp {
    font-size: 6.5em;
}

.weather > #weather-grid > #symbol {
    filter: brightness(100000%);
    margin: 0 20px;
}

.weather > #wind {
    font-size: 1.5em;
}

.weather > #later {
    margin: 10px 0;
    font-size: 1.2em;
}